 core-header-panel {
      float: left;
      width: 360px;
      height: 400px;
      margin: 5px;
    }
    
    core-header-panel[mode=cover]::shadow #mainContainer {
      left: 70px;
    }

    .core-header {
      height: 60px;
      line-height: 60px;
      font-size: 18px;
      padding: 0 10px;
      background-color: #4F7DC9;
      color: #FFF;
      transition: height 0.2s;
    }
    
    .core-header.tall {
      height: 180px;
    }
    
    .core-header.medium-tall {
      height: 120px;
    }

    .content {
      height: 2000px;
      background: linear-gradient(rgb(214, 227, 231), lightblue);
    }